<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Hangman game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div class="container my-5">
    <!--/*@thymesVar id="errorMessage" type="errorMessage"*/-->
    <h2 class="mb-5" th:text="${gameDTO.player}"></h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/newGuess/{id}(id=${gameDTO.id})}" th:object="${gameDTO}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        Secret: <span class="mb-5" th:text="${gameDTO.wordSecret}"></span><br />
                        Guesses: <span class="mb-5" th:text="${gameDTO.guessHits}"></span><br />
                        <br />
                        <label for="hit" class="col-form-label">New Guess</label>
                        <input type="text" th:field="*{hit}" class="form-control" id="hit" placeholder="hit">
                        <span th:if="${#fields.hasErrors('hit')}" th:errors="*{hit}" class="text-danger"></span>
                        <span th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></span>
                    </div>

                </div>
                <div class="row" th:if="${gameDTO.status.name().equals('OPEN')}">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Guess">
                    </div>
                </div>
                <div class="row" th:if="${!gameDTO.status.name().equals('OPEN')}">
                    <span class="mb-5" th:text="${gameDTO.status}"></span>
                    <div class="col-md-6 mt-5">
                        <a th:href="@{/}" class="btn btn-primary">Play Again</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>